{:paths   ["src"]
 :deps    {io.github.clojure/tools.build {:mvn/version "0.10.12"}
           clj-commons/pomegranate       {:mvn/version "1.2.25"}}
 :aliases {:test {:extra-paths ["spec"]
                  :extra-deps  {speclj/speclj {:mvn/version "3.12.0"}}}
           :spec {:main-opts ["-m" "speclj.main" "-c"]}
           :clj-watson {:replace-deps {io.github.clj-holmes/clj-watson {:git/tag "v6.1.0"
                                                                        :git/sha "be98e4db74fb8927db4825cc73bbe2606e44e5e3"}}
                        :main-opts    ["-m" "clj-watson.cli"]}}}
